// Color
$color-black: #000000;
$color-gray: #666666;
$color-light-gray: #eeeeee;

// Font
$font-serif: 'Hiragino Mincho ProN', serif;
$font-sans-serif: 'Hiragino Kaku Gothic ProN', sans-serif;
$font-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$body-font-family: $font-serif;
$nonbre-font-family: $font-serif;

// A4
$page-width: 210mm;
$page-height: 297mm;

$page-margin-top: 38.75mm;
$page-margin-bottom: 24.25mm;
$page-margin-left: 21mm;
$page-margin-right: 21mm;

// Size
$body-font-size: 3.5mm;
$nonbre-font-size: 3mm;
$body-line-height: 6mm;
$img-max-width: 10cm;
$img-max-height: 8cm;
$page-header-font-size: 2.5mm;
$page-footer-font-size: 2.5mm;

// Page Header, Footer
$page-top-left: "210326 OBAMJ Feature Article";
$page-top-right: "";
$page-bottom-left: "";
$page-bottom-right: "";

// Cover
$cover: true;
